* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #ebf2f5 !important;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #73c2fb 0%, #0080ff 100%);
  padding: 10px !important;
}

img {
  height: 60px;
  padding-left: 20px;
}

.nav-link {
  text-transform: uppercase;
  color: #fff !important;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem !important;
  cursor: pointer;
}

.dropdown .dropdown-menu a {
  color: #000 !important;
  text-transform: uppercase;
  font-weight: 600;
}

.dropdown .dropdown-menu a:hover {
  color: #fff !important;
  background-color: #0080ff;
}

.fa-bars {
  color: #fff;
  font-size: 25px !important;
}

.navbar-light .navbar-toggler {
  border-color: #fff !important;
  outline: none !important;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .navbar-brand img {
    height: 40px;
  }
}
